<%= form_for(@entry) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> probhited this category from being saved:</h2>

      <ul>
        <% @entry.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.label :author %><br>
    <%= f.collection_select(:author_id, Author.all, :id, :name) %>
  </div>
  <div class="actions">
    <%= f.label :category %><br>
    <%= f.collection_select(:category_id, Category.all, :id, :name, include_blank: "Category not specified") %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


