<h1>Entries</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Creation Date</th>
      <th>Author</th>
      <th>Category</th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.title %>
        <td><%= entry.description %></td>
        <td><%= entry.created_at %></td>
        <td><%= Author.where(id: entry.author_id).first.name %></td>
        <td><%= Category.where(id: entry.category_id).first.name %></td>
        <td><%= link_to 'Show', entry %></td>
        <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
        <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </td>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Entry', new_entry_path %>
